@import url(../css/reset.css);
body {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

@media (max-width: 1399px) {
  .container {
    width: 734px;
  }
}

@media (max-width: 767px) {
  .container {
    width: 345px;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.input {
  outline: none;
}

.button:hover,
.button:focus {
  opacity: 0.7;
  cursor: pointer;
  outline: none;
}

.input:focus,
.input:hover {
  outline: none;
  background-color: #F1E4E6;
}

.link:active,
.link:hover,
.link:focus {
  opacity: 0.7;
}

.link-pink:active,
.link-pink:hover,
.link-pink:focus {
  color: #F16D7F;
}

[type="radio"] {
  display: none;
}

[type="radio"]:checked + .loyality__label:before {
  background: #F16D7F;
}

.header {
  background-color: #222222;
  position: relative;
}

.header__wrp {
  display: flex;
  justify-content: space-between;
  min-height: 75px;
  align-items: center;
}

.header__wrp-logo {
  display: flex;
}

.header__form {
  position: relative;
}

.header__logo {
  margin: 0 41px 0 0;
}

.header__list {
  display: flex;
}

.header__button {
  border: none;
  background-color: transparent;
}

.header__link {
  margin: 0 0 0 33px;
}

@media (max-width: 767px) {
  .header__link {
    display: none;
  }
}

.header__nav {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 21%;
  top: 100%;
  height: 764px;
  width: 232px;
  display: none;
  box-shadow: 1px 12px 56px 0px rgba(34, 60, 80, 0.2);
  z-index: 1;
}

@media (max-width: 1399px) {
  .header__nav {
    right: 0;
    height: 622px;
  }
}

.header__nav-title {
  text-transform: uppercase;
  margin: 37px 0 0 34px;
}

.header__nav:hover {
  display: block;
}

.header__button:focus + .header__nav {
  display: block;
}

.header__nav:hover {
  display: block;
}

.header__form {
  position: relative;
  top: 4px;
  left: 32px;
}

.header__input {
  position: absolute;
  padding: 9px 37px;
  background: transparent;
  left: -38px;
  border-radius: 15px;
  border: none;
}

.header__form {
  position: relative;
}

.header__form:before {
  content: '';
  position: absolute;
  width: 26px;
  height: 26px;
  background-image: url(../image/loupe.svg);
  background-size: 26px 26px;
  top: 4px;
  left: -33px;
}

.header__input:focus,
.header__input:hover {
  background-color: #F1E4E6;
  border: none;
  outline: none;
}

.nav-sub-item {
  text-decoration: none;
  margin: 24px 0 0 33px;
}

.nav-sub-item__title {
  text-transform: uppercase;
  color: #F16D7F;
  text-decoration: none;
}

.nav-sub-item__list {
  margin: 12px 0 20px 23px;
}

.nav-sub-item__item {
  margin: 0 0 11px 0;
}

.nav-sub-item__link {
  text-decoration: none;
  color: #6F6E6E;
}

.nav-sub-item__title:hover {
  text-decoration: underline;
}

.brand {
  display: flex;
  margin: 0 0 62px 0;
}

@media (max-width: 1399px) {
  .brand {
    margin: 0 0 20px 0;
  }
}

@media (max-width: 767px) {
  .brand {
    min-height: 370px;
    margin: 0 0 20px 0;
  }
}

.brand__title-wrp {
  flex-grow: 1;
  align-items: center;
  display: flex;
  padding: 0 0 0 92px;
  background-color: #F1E4E6;
}

@media (max-width: 1399px) {
  .brand__title-wrp {
    padding: 0 0 0 68px;
  }
}

@media (max-width: 767px) {
  .brand__title-wrp {
    padding: 0;
    justify-content: center;
  }
}

.brand__title {
  text-transform: uppercase;
  color: #222222;
  position: relative;
  font-size: 48px;
  line-height: 58px;
  font-weight: 900;
  font-style: normal;
}

@media (max-width: 1399px) {
  .brand__title {
    font-size: 44px;
    line-height: 52px;
    font-weight: 900;
    font-style: normal;
  }
}

@media (max-width: 767px) {
  .brand__title {
    font-size: 38px;
    line-height: 45px;
    font-weight: 900;
    font-style: normal;
  }
}

.brand__title:before {
  content: "";
  background-image: url(../image/brand-decor-element.png);
  width: 12px;
  height: 92px;
  position: absolute;
  left: -30px;
  top: 3px;
}

.brand__subtitle {
  display: block;
  font-size: 32px;
  line-height: 38px;
  font-weight: 700;
  font-style: normal;
}

@media (max-width: 1399px) {
  .brand__subtitle {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    font-style: normal;
  }
}

@media (max-width: 767px) {
  .brand__subtitle {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    font-style: normal;
  }
}

.brand__subtitle-pink {
  color: #F16D7F;
}

@media (max-width: 1399px) {
  .brand__img {
    width: 50%;
    min-height: 370px;
  }
}

@media (max-width: 767px) {
  .brand__img {
    display: none;
  }
}

.sales__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.sales__item {
  width: 360px;
  height: 260px;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  background-color: #534947;
}

@media (max-width: 1399px) {
  .sales__item {
    width: 232px;
    height: 167px;
  }
}

@media (max-width: 767px) {
  .sales__item {
    width: 343px;
    height: 247px;
    margin: 0 0 32px 0;
  }
}

.sales__item--women {
  background-image: url(../image/saleforgirls.jpg);
}

.sales__item--men {
  background-image: url(../image/saleforman.jpg);
}

.sales__item--kids {
  background-image: url(../image/saleforkids.jpg);
}

.sales__item--accesories {
  background-image: url(../image/salesaccesories.jpg);
  width: 100%;
  margin: 20px 0 97px 0;
}

@media (max-width: 1399px) {
  .sales__item--accesories {
    margin: 20px 0 154px 0;
  }
}

@media (max-width: 767px) {
  .sales__item--accesories {
    margin: 0 0 64px 0;
  }
}

.sales__item-text-pink {
  font-size: 24px;
  font-weight: 700;
  color: #F16D7F;
}

.catalog {
  text-align: center;
}

.catalog__title {
  text-transform: capitalize;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
}

.catalog__text {
  color: #9F9F9F;
}

.catalog__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 48px 0 48px 0;
}

@media (max-width: 1399px) {
  .catalog__list {
    margin: 72px 0 32px 0;
  }
}

@media (max-width: 767px) {
  .catalog__list {
    margin: 64px 0 41px 0;
  }
}

.catalog__item {
  width: 360px;
  height: 581px;
  text-align: initial;
  margin: 0 0 30px 0;
  background-color: #F8F8F8;
}

@media (max-width: 1399px) {
  .catalog__item {
    margin: 0 0 16px 0;
  }
}

@media (max-width: 767px) {
  .catalog__item {
    margin: 0 0 16px 0;
  }
}

.catalog__wrap-overlay {
  position: relative;
}

.catalog__item-text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  padding: 0 0 18px 0;
}

.catalog__item-title {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  padding: 25px 0 12px 0;
}

.catalog__item-text-pink {
  color: #F16D7F;
  padding: 0 0 20px 0;
}

.catalog__button {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFFFFF;
  background-color: transparent;
  padding: 17px 14px 17px 46px;
  border: 1px solid;
  border-color: #FFFFFF;
  cursor: pointer;
}

.catalog__link {
  border: 1px solid;
  border-color: #F16D7F;
  padding: 14px 38px;
  text-decoration: none;
  display: inline-block;
  margin: 0 0 95px 0;
  color: #F16D7F;
  transition-duration: 1s;
}

@media (max-width: 1399px) {
  .catalog__link {
    margin: 0 0 65px 0;
  }
}

.catalog__link:active,
.catalog__link:hover,
.catalog__link:focus {
  opacity: 0.7;
  color: #FFFFFF;
  background-color: #F16D7F;
}

.catalog__wrap-overlay:before {
  display: none;
  content: '';
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.catalog__button:before {
  content: '';
  background-image: url(../image/catalog-cart.png);
  width: 26px;
  height: 24px;
  position: absolute;
  top: 11px;
  left: 9px;
}

.catalog__item:hover .catalog__button,
.catalog__item:hover .catalog__wrap-overlay:before {
  display: block;
}

.about-us {
  background-color: #222222;
  min-height: 341px;
}

.about-us__list {
  display: flex;
  text-align: center;
  padding: 103px 0 103px 0;
}

@media (max-width: 1399px) {
  .about-us__list {
    padding: 48px 0 16px 0;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 767px) {
  .about-us__list {
    padding: 48px 0 33px 0;
  }
}

.about-us__item {
  margin-left: 30px;
  max-width: 360px;
}

@media (max-width: 1399px) {
  .about-us__item {
    margin: 0 0 48px 0;
  }
}

@media (max-width: 767px) {
  .about-us__item {
    margin: 0 0 48px 0;
  }
}

.about-us__item-title {
  font-size: 20px;
  line-height: 24px;
  color: #FBFBFB;
  margin: 28px 0 16px 0;
}

.about-us__item-text {
  font-size: 13px;
  line-height: 17px;
  font-weight: 300;
  color: #FBFBFB;
  opacity: 0.7;
}

.about-us__img {
  height: 42px;
}

.footer__bkg {
  background-image: url(../image/footer-bkg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.footer__feedback {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1399px) {
  .footer__feedback {
    flex-direction: column;
    align-items: center;
  }
}

.footer__feedback-review {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 360px;
  padding: 87px 0 130px 0;
}

@media (max-width: 1399px) {
  .footer__feedback-review {
    padding: 53px 0 48px 0;
  }
}

.footer__feedback-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

@media (max-width: 767px) {
  .footer__feedback-text {
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    font-style: normal;
  }
}

.footer__application {
  display: flex;
  align-self: center;
  flex-direction: column;
  width: 557px;
  align-items: center;
}

@media (max-width: 1399px) {
  .footer__application {
    padding: 0 0 140px 0;
  }
}

@media (max-width: 767px) {
  .footer__application {
    padding: 0 0 109px 0;
    width: 0;
  }
}

.footer__application-title {
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0 0 32px 0;
}

@media (max-width: 767px) {
  .footer__application-title {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    font-style: normal;
    margin: 0 0 22px 0;
    width: 271px;
  }
}

.footer__application-title-bold {
  display: block;
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
}

.footer__application-form {
  display: flex;
}

.footer__application-input {
  width: 256px;
  height: 49px;
  box-sizing: border-box;
  border-radius: 25px 0px 0 25px;
  padding: 0 65px 0 25px;
  background-color: #E1E1E1;
  border: none;
}

.footer__application-button {
  width: 100px;
  border-radius: 0 25px 25px 0;
  color: #FFFFFF;
  background-color: #F16D7F;
  border: none;
  transition-duration: 1s;
}

.copyright-bkg {
  background-color: #222222;
}

.footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 79px;
  background-color: #222222;
}

@media (max-width: 767px) {
  .footer__copyright {
    flex-direction: column-reverse;
    padding: 43px 0 0 0;
  }
}

.footer__copyright-text {
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}

@media (max-width: 767px) {
  .footer__copyright-text {
    padding: 0 0 10px 0;
  }
}

.footer__copyright-list {
  display: flex;
}

.footer__copyright-item {
  margin: 0 0 0 7px;
}

.footer__application-button:hover {
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
}

.registration {
  background-color: #F8F3F4;
  min-height: 148px;
}

.registration__title {
  text-transform: uppercase;
  color: #F16D7F;
  font-size: 24px;
  line-height: 29px;
  padding: 60px 0 0 0;
}

@media (max-width: 767px) {
  .registration__title {
    text-align: center;
  }
}

.loyality {
  background-color: #FFFFFF;
}

.loyality__wrp {
  display: flex;
  justify-content: space-between;
  margin: 64px 0 0 0;
}

@media (max-width: 1399px) {
  .loyality__wrp {
    margin: 40px 0 96px 0;
  }
}

@media (max-width: 767px) {
  .loyality__wrp {
    flex-direction: column;
    margin: 40px 0 40px 0;
  }
}

.loyality__form {
  display: flex;
  flex-direction: column;
  width: 360px;
}

@media (max-width: 1399px) {
  .loyality__form {
    width: 100%;
    margin: 0 22px 0 0;
  }
}

.loyality__title {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.loyality__input {
  width: 360px;
  height: 44px;
  margin: 20px 0 0 0;
  border: 1px solid #A4A4A4;
  padding: 0 0 0 17px;
  box-sizing: border-box;
}

.loyality__wrp-input {
  margin: 33px 0 35px 23px;
}

.loyality__label {
  position: relative;
  margin: 0 47px 0 0;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.loyality__label:before {
  content: "";
  position: absolute;
  border: 1px solid #A4A4A4;
  border-radius: 20px;
  width: 17px;
  height: 17px;
  left: -27px;
  top: -2px;
}

.loyality__label:hover {
  cursor: pointer;
}

.loyality__text-form {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  margin: 15px 0 39px 0;
  width: 360px;
}

.loyality__button {
  color: #FFFFFF;
  text-transform: uppercase;
  padding: 16px 66px 16px 29px;
  background-color: #F16D7F;
  position: relative;
  margin: 0 0 96px 0;
  border: none;
}

.loyality__button:before {
  content: "";
  background-image: url(../image/right-arrow-btn-registration.png);
  position: absolute;
  width: 17px;
  height: 10px;
  right: 30px;
  top: 18px;
}

.loyality__button:hover {
  box-shadow: 2px 2px 32px -8px rgba(0, 0, 0, 0.16) inset;
}

.loyality__info {
  width: 652px;
}

@media (max-width: 1399px) {
  .loyality__info {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .loyality__info {
    margin: 0 0 100px 0;
  }
}

.loyality__title-info {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

@media (max-width: 1399px) {
  .loyality__title-info {
    font-size: 16px;
    line-height: 19px;
    font-weight: 300;
    font-style: normal;
  }
}

.loyality__text-info {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin: 22px 0 22px 0;
}

@media (max-width: 1399px) {
  .loyality__text-info {
    font-size: 16px;
    line-height: 19px;
    font-weight: 300;
    font-style: normal;
  }
}

.loyality__list {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  padding: 0 0 0 43px;
}

.loyality__item {
  margin: 0 0 16px 0;
  position: relative;
}

@media (max-width: 1399px) {
  .loyality__item {
    font-size: 16px;
    line-height: 19px;
    font-weight: 300;
    font-style: normal;
  }
}

.loyality__item:before {
  content: "";
  background-image: url(../image/registration-check-mark.png);
  width: 20px;
  height: 16px;
  position: absolute;
  top: 8px;
  left: -43px;
}

.shopping-heading {
  background-color: #F8F3F4;
  min-height: 148px;
}

.shopping-heading__title {
  text-transform: uppercase;
  color: #F16D7F;
  font-size: 24px;
  line-height: 29px;
  padding: 60px 0 0 0;
}

@media (max-width: 767px) {
  .shopping-heading__title {
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */