.footer__bkg {
    background-image: url(../image/footer-bkg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.footer__feedback {
    display: flex;
    justify-content: space-between;

    @include tablet {
        flex-direction: column;
        align-items: center;
    }

}

.footer__feedback-review {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 360px;
    padding: 87px 0 130px 0;

    @include tablet {
        padding: 53px 0 48px 0;
    }
}

.footer__feedback-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    @include mobile {
        @include font(18px, 21px, 400);
    }
}

.footer__application {
    display: flex;
    align-self: center;
    flex-direction: column;
    width: 557px;
    align-items: center;

    @include tablet {
        padding: 0 0 140px 0;
    }

    @include mobile {
        padding: 0 0 109px 0;
        width: 0;
    }
}

.footer__application-title {
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0 0 32px 0;

    @include mobile {
        @include font(14px, 21px, 400);
        margin: 0 0 22px 0;
        width: 271px;
    }
}

.footer__application-title-bold {
    display: block;
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
}

.footer__application-form {
    display: flex;
}

.footer__application-input {
    width: 256px;
    height: 49px;
    box-sizing: border-box;
    border-radius: 25px 0px 0 25px;
    padding: 0 65px 0 25px;
    background-color: #E1E1E1;
    border: none;
}

.footer__application-button {
    width: 100px;
    border-radius: 0 25px 25px 0;
    color: #FFFFFF;
    background-color: $dark-pink;
    border: none;
    transition-duration: 1s;
}

.copyright-bkg {
    background-color: $black;
}

.footer__copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 79px;
    background-color: $black;

    @include mobile {
        flex-direction: column-reverse;
        padding: 43px 0 0 0;
    }
}

.footer__copyright-text {
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;

    @include mobile {
        padding: 0 0 10px 0;
    }
}

.footer__copyright-list {
    display: flex;
}

.footer__copyright-item {
    margin: 0 0 0 7px;
}

.footer__application-button:hover,
.footer__application-button:focus {
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
}

.footer__application-button:active {
    background-color: #a54653;
    ;
}