.loyality {
    background-color: #FFFFFF
}

.loyality__wrp {
    display: flex;
    justify-content: space-between;
    margin: 64px 0 0 0;

    @include tablet {
        margin: 40px 0 96px 0;
    }

    @include mobile {
        flex-direction: column;
        margin: 40px 0 40px 0;
    }
}

.loyality__form {
    display: flex;
    flex-direction: column;
    width: 360px;

    @include tablet {
        width: 100%;
        margin: 0 22px 0 0;
    }
}

.loyality__title {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
}

.loyality__input {
    width: 360px;
    height: 44px;
    margin: 20px 0 0 0;
    border: 1px solid #A4A4A4;
    padding: 0 0 0 17px;
    box-sizing: border-box;
}

.loyality__wrp-input {
    margin: 33px 0 35px 23px;
}



.loyality__label {
    position: relative;
    margin: 0 47px 0 0;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}

.loyality__label:before {
    content: "";
    position: absolute;
    border: 1px solid #A4A4A4;
    border-radius: 20px;
    width: 17px;
    height: 17px;
    left: -27px;
    top: -2px;
}

.loyality__label:hover {
    cursor: pointer;
}

.loyality__text-form {
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #B1B1B1;
    margin: 15px 0 39px 0;
    width: 360px;
}

.loyality__button {
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 16px 66px 16px 29px;
    background-color: $dark-pink;
    position: relative;
    margin: 0 0 96px 0;
    border: none;
}

.loyality__button:before {
    content: "";
    background-image: url(../image/right-arrow-btn-registration.png);
    position: absolute;
    width: 17px;
    height: 10px;
    right: 30px;
    top: 18px;
}

.loyality__button:hover {
    -webkit-box-shadow: 2px 2px 32px -8px rgba(0, 0, 0, 0.16) inset;
    -moz-box-shadow: 2px 2px 32px -8px rgba(0, 0, 0, 0.16) inset;
    box-shadow: 2px 2px 32px -8px rgba(0, 0, 0, 0.16) inset;
}

.loyality__info {
    width: 652px;

    @include tablet {
        width: 100%;
    }

    @include mobile {
        margin: 0 0 100px 0;
    }
}

.loyality__title-info {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #000000;

    @include tablet {
        @include font(16px, 19px, 300);
    }
}

.loyality__text-info {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin: 22px 0 22px 0;

    @include tablet {
        @include font(16px, 19px, 300);
    }

}

.loyality__list {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    padding: 0 0 0 43px;
}

.loyality__item {
    margin: 0 0 16px 0;
    position: relative;

    @include tablet {
        @include font(16px, 19px, 300);
    }
}

.loyality__item:before {
    content: "";
    background-image: url(../image/registration-check-mark.png);
    width: 20px;
    height: 16px;
    position: absolute;
    top: 8px;
    left: -43px;
}