.product-catalog {
    text-align: center;
}

.product-catalog__text {
    color: #9F9F9F;
}

.product-catalog__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 128px 0 128px 0;

    @include tablet {
        margin: 72px 0 32px 0;
    }

    @include mobile {
        margin: 64px 0 41px 0;
    }
}

.product-catalog__item {
    width: 360px;
    height: 581px;
    text-align: initial;
    margin: 0 0 30px 0;
    background-color: $catalog-card-bkg;

    @include tablet {
        margin: 0 0 16px 0;
    }

    @include mobile {
        margin: 0 0 16px 0;
    }
}

.product-catalog__wrap-overlay {
    position: relative;
}

.product-catalog__wrp-padding {
    padding: 22px;
}

.product-catalog__item-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: $catalog-text-grey;
    padding: 0 0 18px 0;
}

.product-catalog__item-title {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    padding: 0 0 12px 0;
}

.product-catalog__item-text-pink {
    color: $dark-pink;
    padding: 0 0 20px 0;
}

.product-catalog__button {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
    background-color: transparent;
    padding: 17px 14px 17px 46px;
    border: 1px solid;
    border-color: #FFFFFF;
    cursor: pointer;
}

.product-catalog__link {
    border: 1px solid;
    border-color: $dark-pink;
    padding: 14px 38px;
    text-decoration: none;
    display: inline-block;
    margin: 0 0 95px 0;
    color: $dark-pink;
    transition-duration: 1s;

    @include tablet {
        margin: 0 0 65px 0;
    }
}

.product-catalog__link:hover,
.product-catalog__link:focus {
    opacity: 0.7;
    color: #FFFFFF;
    background-color: $dark-pink;
    box-shadow: 5px 5px 10px 2px #00000066;
}

.product-catalog__link:focus {
    background-color: #a54653;
}

.product-catalog__link:active {
    -webkit-animation: slide-out-bck-center 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: slide-out-bck-center 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}


.product-catalog__wrap-overlay:before {
    display: none;
    content: '';
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.product-catalog__button:before {
    content: '';
    background-image: url(../image/catalog-cart.png);
    width: 26px;
    height: 24px;
    position: absolute;
    top: 11px;
    left: 9px;
}

.product-catalog__item:hover .product-catalog__button,
.product-catalog__item:hover .product-catalog__wrap-overlay:before {
    display: block;
}